@import "tailwindcss";

@layer base {
  html {
    @apply h-full;
  }

  body {
    font-family: "Noto Sans", sans-serif;
    @apply h-full;
  }
}

@layer components {
  .active-layout {
    @apply grid;
    grid-template-rows: auto 1fr auto;
  }
}
