@import "tailwindcss";

@layer base {
  html {
    @apply h-full;
  }

  body {
    font-family: "Noto Sans", sans-serif;
    @apply h-full;
  }
}

@layer components {
  .grail-layout {
    @apply grid h-full;
    grid-template-rows: auto 1fr auto;
  }

  .list-fade {
    background-image: linear-gradient(0, white 0%, white 35%, transparent);
  }
}
